body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

.container {
    margin: 0 auto;
    width: 1158px;
    display: flex;
    padding-left: 15px;
        padding-right: 15px;
    
}

a {
    text-decoration: none;
    color: inherit;
    
}
img {
    display: block;
}

a:hover {
    color: #404bbf;
}

a:focus {
    color: #404bbf;
}
header {
    border-bottom: 1px solid #e7e9fc;
}
.page-nav {
    display: flex;
    align-items: center;
    margin-right: 76px;
    gap: 40px;
}
.container-header {
    display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
        width: 1158px;
            padding-left: 15px;
                padding-right: 15px;
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    margin-right: 76px;
    gap: 40px;
}

.studio {
    color: #2e2f42;
}

.navigation {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    gap: 40px;
}

.nav-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contacts {
    font-style: normal;
    display: flex;
    gap: 40px;
}
.address-list {
    display: flex;
    gap: 20px;
}
.address-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.main-page {
    background-color: #2E2F42;
    color: #FFFFFF;
}
.main-first-container {
    padding-bottom: 188px;
    padding-top: 188px;
    background-color:#2E2F42;
    padding-right: 472;
    padding-left: 472;
    text-align: center;
}
.main-second-container {
   display: flex;
   justify-content: center;
   align-items: center;
}
.main-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.main-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.main-button:hover {
    background-color: #404BBF;
}

.main-button:focus {
    background-color: #404BBF;
}



.our-services {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.servise-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.servise-info {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-team {
    background-color: #F4F4FD;
}

.our-team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-item {
    background-color: #FFFFFF;
}

.team-member {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



.our-portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-app {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-footer {
    background-color: #2E2F42;
    color: #FFFFFF;
}

.logo-footer {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio-footer {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.raleway-uniquifier {
    font-family: "Raleway", system-ui;
    font-weight: 700;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

ul,
ol {
    list-style: none;
    gap: 40px;
}
ul li:last-child {
    margin-right: 0;
}