body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
  
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #404bbf;
 
}
a:focus {
    color: #404bbf;
}
.contacts {
    font-style: normal
}

ul,ol {
    list-style: none;
 
}

.main-page {
    background-color: #2E2F42;
    color: #FFFFFF;
    text-align: center;
}

.navigation {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.navigation:focus {
    color: #404bbf
}
.main-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
}

.raleway-uniquifier {
    font-family: "Raleway", system-ui;
    font-weight: 700;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.page-footer {
    background-color: #2E2F42;
    color: #FFFFFF;
}

.our-portfolio {
    text-align: center;
}

.our-team {
    background-color: #F4F4FD;
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio {
    color:#2e2f42;
}
.logo-footer {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
 }

.studio-footer {
    color: #f4f4fd;
}
.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
