body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    /* Колір тексту */
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #404bbf;
    /* Колір при наведенні */
}

.web {
    color: #4D5AE5;
    /* Колір логотипу */
}

ul,
ol {
    list-style: none;
    /* Прибираємо маркери списку */
}

.main-page {
    background-color: #2E2F42;
    color: #FFFFFF;
    text-align: center;
}

.main-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
}

.raleway-uniquifier {
    font-family: "Raleway", system-ui;
    font-weight: 700;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.page-footer {
    background-color: #2E2F42;
    color: #FFFFFF;
}

.our-portfolio {
    text-align: center;
}

.our-team {
    background-color: #F4F4FD;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}